/* CSS style */

body {
  font: 100%/1.5 Georgia, serif;
  }

a {
  color: #000000;
  text-decoration: none;
  border-bottom: 2px solid #66FF99;
  /* padding-bottom: 1px; */
  -webkit-transition: background-color 0.3s ease;
  transition: background-color .3s ease;
  }

a:hover,
a:focus {
  color: black;
  background-color: #66FF99;
  }

::-moz-selection {
  background-color: #66FF99;
  }

::selection {
  background-color: #66FF99;
  }

h1 {
    font: 1.5em/1em Old Standard;
    }

.words {
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.chunk {
  max-width: 50%;
  margins: auto;
}
